/**************************************************************/
/* General Stylings */

*,
*:before,
*:after {
    box-sizing: border-box
}

html {
    font-family: "Roboto", sans-serif;
}

h1,h2,h3 {
    font-family: "Oswald", sans-serif;
}

body {
    margin: 0;
}

/**************************************************************/
/* Specific Stylings */

.name {
    background-color: aquamarine;
    padding: 50px 16px;
    text-align: center;
}

.other {
    max-width: 800px; 
    margin: auto;
    padding: 50px;
}