/**************************************************************/
/* General Stylings */

*,
*:before,
*:after {
    box-sizing: border-box
}

html {
    font-family: "Roboto", sans-serif;
}

h1,h2,h3 {
    font-family: "Oswald", sans-serif;
}

body {
    margin: 0;
    background-color:rgb(230, 220, 220);
}

/**************************************************************/
/* Specific Stylings */

.name {
    background-color: aquamarine;
    padding: 50px 16px;
    text-align: center;
    border-bottom: 5px solid black;
}

.other {
    max-width: 800px;   
    margin: auto;
    padding: 50px;
}
x
main {
    background-color:rgb(230, 220, 220);
}

section + section {
    margin-top: 100px;
}

a:link {
    color: steelblue;
}

a:hover {
    background-color: aquamarine;
    color: black
}

a:active {
    color:white;
    background-color: black;
}

.link-oben {
    padding: 4px 8px;
    color:steelblue;
}


.link-oben:hover {
    background-color:rgb(230, 220, 220);
    color:black;
}

.link-oben:active {
    color: white;
    background-color: black;
}

.link-oben + .link-oben {
    margin-left: 50px;
}

.other > * + * {
    border-top: 3px solid steelblue;
}

::selection {
    background-color: aquamarine;
    color: steelblue;
}

.other > * + * {
    margin-top: 50px;
  }